<p>Number of results matching search: <%= @facade.total_hits %></p></br>

<% @facade.foods.each do |food| %>
  <div id="food-<%= food.gtin_upc %>">
    <ul>
      <li>GTIN/UPC: <%= food.gtin_upc %></li>
      <li>Description: <%= food.description %></li>
      <li> Brand Owner: <%= food.brand_owner %></li>
      <li>Ingredients: <%= food.ingredients %></li>
    </ul>
  </div></br>
<% end %>